body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: sans-serif;

}

html{
    width: 100%;
    height: 100%;
    margin: 0;
}


/* Navigation menu styles */
nav{
    position: fixed;
    top: 0; 
    z-index: 9999;
}


nav ul{
    list-style-type: none;
    margin: .7em 0px;
}

nav ul li{
    float: right;
    margin-right: 0.5em;
    margin-bottom: .7em;
}

nav ul li a{
    float: right;
    padding: 0px 5px 5px 5px;
    color: #577367; 
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 700;
}

nav img{
    width: 10%;
    float: left;
}

nav a:hover{
    color: #7EA595;
}


.link-section{
    border-bottom: 3px solid rgba(87,115,103,.8);
    border-radius: 0 0 5px 5px;
    width: 80%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .8);

    /* Keeps navbar centered and at the top */
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}

.icon{
    float:right;
    width: 2.5%;
    margin: 0.5% 1% 0 1%;
    background-color: rgba(255, 255, 255, .8);
    padding: 0.1%;
    border-radius: 10px;
}

.icon:hover{
    background-color: #7EA595;
}

/* Footer */
footer{
    text-align: center;
    background-color: #7EA595;
    padding: 1% 5%;
}

footer div{
    margin: 10px 0;
}

.footer-content{
    width: 80%;
    margin: auto;
}

.footer-content .student-hub{
    color: #577367;
    font-weight: 1000;
}

.footer-content a{
    text-decoration: none;
    color: #B8F2DA;
    padding: 0 10px;
}

.footer-content a:hover{
    color: white;
}

.footer-links{
    margin: 10px auto;
}

.social-links a{
    padding: 0;
    margin: 0 10px;

}

.social-links img{
    width: 3%;
    padding: 0;
    border-radius: 25%;
    background-color: #577367;
}

.social-links img:hover{
    background-color: white;
}

footer div{
    margin: 2em 0;
    font-size: 1em;
}



/* Styles div that has a background image */
.welcome-view{
    height: 100%; 
    text-align: center;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

.welcome-view h1{
    width: 50%;
    margin: 0 auto 0 auto;
    font-size: 4rem;
    padding-top: 20%;
    color: white;
}

/* Main Page */
.main-page-background-image{
    background-image: url("https://c.pxhere.com/images/8a/e9/1d410d918d0363e6f9a1aad24e1e-1450349.jpg!d");
}

.main-page-content{
    width: 60%;
    margin: auto;
}

.main-page-content .recipe{
    text-align: center;
}

.main-page-content h1{
    font-size: 2.8rem;
    text-align: center;
    margin-top: 10%;
    
}

.promotions h3{
    margin-top: 10%;
    text-align: center;
}

.promotions p{
    text-align: center;
    line-height: 200%;
}

.promotions span{
    font-size: small;
}

.separator{
    width: 30%;
    margin: 10% auto;
    border-bottom-width: 15px;
    border-bottom-style: dotted;
    border-color: #7EA595;
}

.large-separator{
    width: 80%;
    margin: 10% auto;
    border-bottom-width: 15px;
    border-bottom-style: dotted;
    border-color: #7EA595;
}

.menu-box{
    width: 80%;
    margin: 5% auto 0 auto;
    background-color: #7EA595;
    border-radius: 20px;
    overflow: hidden;
}

.menu-box a{
    width: 100%;
    margin: 0 auto;
}

.menu-box img{
    width: 90%;
    height: 100%;
    margin: 5% auto 0 auto;
    display: block;
}

.menus h2{
    text-align: center;
    color: white;
}

.menu-box img:hover{
    opacity: 50%;
}

.last-div{
    margin-bottom: 10%;
}

/* Delivery Page */
.delivery-background-image{
    background-image:url("https://c.pxhere.com/images/50/c9/28411ebe225a5b9863392e231e54-1613609.jpg!d");   
}

/* COVID Page */
.covid-page-background-image{
    background-image: url("https://cdn.pixabay.com/photo/2020/09/23/03/15/interior-design-5594804_1280.jpg");    
}

.text-right{
    float: right;
}

.with-image{
    overflow: hidden;
}

.covid19-measure{
    width: 80%; margin: 50px auto;
}

.image-right{
    float: right;
}


.image-left{
    float: left;
}


.info-text{
    width: 65%;
}


/* About Us Page */
.about-us-background-image{
       background-image: url("https://cdn.pixabay.com/photo/2020/09/23/03/15/interior-design-5594804_1280.jpg");    
}

.small-text{
    font-size: 0.8em;
}
